.container{

text-align: center;

}
h1{
    color:rgb(0, 112, 204);
    font-family:fantasy;
    font-weight: 900;
    font-size: 50px;
    margin-left: 30px;
    text-shadow: 0.5px 0.5px rgb(165, 8, 170);
    animation: header 5s infinite;
}
@keyframes header{
    50%{
        text-shadow: 10px 20px 40px rgb(185, 9, 118);
    }
}
p{
    display:inline-block;
    font-family: fantasy;
    text-shadow: 2px 2px 5px rgb(243, 6, 6);
    margin-left: 15px;
   color: rgb(172, 133, 21);
    font-size: 18px;
    margin-top: 2px;
}
.container2{
    margin-right: 24px;
}
#button{
    border-color: crimson;
    border-radius: 90px;
    padding: 5px;
    width: 50px;
    background-color:#8c609e;
    font-family:cursive;
    letter-spacing: 1px;

    font-weight: bold;
    color:black;
}
#button:hover{
    cursor: pointer;

}
#in{
    border-radius: 2px;
    margin-right: 1px;
    width: 255px;
    height:23px;
    padding: 5px;
    background-color:rgb(55, 75, 15);

}
#in::placeholder{
    font-style: italic;
    color:rgb(163, 33, 105);
}
ul{
    color: rgb(226, 183, 25);
    position: relative;
    text-shadow: 2px 2px 5px #2a7f7b;
    font-family: fantasy;
    font-size: 25px;
    list-style-type: decimal;
    padding:20px;
    /* text-align: center; */
    width:200px;
    height:200px;
    margin:0 auto;
    /* position: relative; */
    /* left:166px; */
}
ul:after{
    content:'';
    display: table;
    clear: both;

}
li {
     width:700px;
     text-align: left;
     justify-content: flex-start;
}
li .mySpan {
    margin-left: 20px;
}
span{
    position: relative;
    top: 2px;
    font-size: larger;
}
body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23381c27' fill-opacity='0.63'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.delbtn{
    margin-left: 50px;
    border-radius: 81% 81%;
    color:red;
    font-weight: 800;
    text-align: center;
    background-color: #1a1a1a;
    /* padding: 0px 6px -1px 1px; */
    font-size: 12px;
    /* text-size-adjust: 10px; */
    /* animation:delete 5s infinite; */
    /* box-shadow: -2px -2px 0px red; */
}
.delbtn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px red;
    opacity: 0.85;
}
/* @keyframes delete{ */
     /* 50%{ */
           /* box-shadow: 0px 0px 10px red; */
     /* } */
/* } */


.btncheck{
    /* border-radius: 81% 81%; */
    /* margin-left: 10px; */
    /* color: green; */
    /* font-size: xx-large; */
    margin-left: 20px;
    /* margin-top: 10px; */
    /* padding: 9.5px; */
    border-radius: 81% 81%;
    width:25.34px;
    height:23.6px;
    background-color: #221515;
    color:greenyellow;
    font-weight: 800;
    /* margin-top: 290x; */
    /* margin-bottom: 1px; */
    /* content: "\2713"; */
    font-size: small;
}

.btncheck:hover{
    box-shadow: 0px 0px 20px green;
    opacity:0.85;
    cursor: pointer;
}

.checkWrapper{
    /* display: inline-block; */
    position:relative;
    top:4.8px;
}
.textdecore{

    text-decoration: line-through;
    text-decoration-color:red;
    animation: mymove 5s infinite;
  }
  